body {
    background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=1024x1024&w=0&k=20&c=z8_rWaI8x4zApNEEG9DnWlGXyDIXe-OmsAyQ5fGPVV8=");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
div{
 background-color: aqua;
 width: 250px;
 height: 200px;
 border: 10px solid black;
 margin-top: 250px;
 margin-left: 600px;

}
h1{
    color: black;
    padding-top: 30px;
   padding-left: 50px; 
  
}